@import "fonts";
@import "vars";
@import "general";
@import "media";

// start header

.header {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    
}

.header__top-btn {
    padding: 5px;
    width: 140px;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    background-color: $blue;
    transition: all .5s;
    margin-left: 420px;
    margin-right: auto;
}

.header__top-btn:hover {
    color: #2c80ed;
    background-color: #fff;
}

.header__top-icon {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.header__top-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 345px;
    align-items: center;
}

.header__top-alarm {
    width: 17px;
    height: 20px;
}

.header__top-envelope {
    width: 21px;
    height: 14px;
}

.header__top-cart {
    width: 18px;
    height: 20px;
}

.header__top-notifications {
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    height: 23px;
    width: 26px;
    padding: 7px;
}
  
.header__top-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top-name {
    display: block;
    font-weight: 500;
    color: #333;
    line-height: 22px;
}

.header__top-balance {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: $blue;
}

.header__menu {
    background-color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    min-height: 80px;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    .menu__item {
        display: inline-block;
        .menu__link {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 15px;
            transition: all .5s;
            color: #333;
        }
    }
    .menu__item + .menu__item {
        margin-left: 33px;
    }
    .menu__link:hover {
        color: $blue;
    }
}

.header__search-form {
    margin-left: 223px;
    margin-right: auto;
    text-align: center;
    min-width: 400px;
    position: relative;
    .header__search-input {
        display: block;
        width: 100%;
        border-radius: 25px;
        height: 46px;
        border: 1px solid #dce1e7;
        font-size: 15px;
        padding: 13px 100px 13px 25px;
        outline-width: 0px;
        &::placeholder {
            color: #898f96;
        }
    }
    .header__search-btn {
        position: absolute;
        background-color: $blue;
        border: none;
        border-radius: 25px;
        width: 71px;
        height: 46px;
        right: 0;
        top: 0;
        cursor: pointer;
        outline-width: 0;
        transition: background-color 0.5s;
    }
    .header__search-btn:hover {
        background-color: #554cc3;
    }
}

// end header

// start search

.search {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    max-height: 775px;
}

.search__inner {
    padding: 155px 0 30px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    .search__subtitle {
        font-weight: 400;
        margin-bottom: 10px;
    }
    .search__title {
        font-weight: 700;
        margin-bottom: 20px;
    }
    .search__text {
        font-size: 20px;
        font-weight: 500;
        line-height: 72px;
    }
}

.search__btn-inner {
    text-align: center;
    .search__btn {
        margin: 40px 15px 180px;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 20px 30px;
        cursor: pointer;
        background: transparent;
        transition: all .5s;
    }
    .search__btn:hover {
        color: $blue;
        background-color: #fff;
    }
}
  
.form__inner {
    position: relative;
    max-width: 1140px;
    min-height: 135px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 100px;
}

.form__inner::before,
.form__inner::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 1110px;
    min-height: 42px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}
  
.form__inner::after {
    top: -30px;
    max-width: 1080px;
}

.search__form {
    color: #676767;
    .search__input {
        margin: 40px 0 40px 40px;
        display: inline-block;
        padding: 20px;
        width: 55%;
        border: 1px solid #dcdcdc;
        border-radius: 6px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        outline-width: 0;
        &::placeholder {
            color: #676767;
        }
    }

    .search__select {
        max-width: 195px;
        border: 1px solid #dcdcdc;
        outline-width: 0;
        padding: 18px;
        border-radius: 6px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: none;
        font-size: 16px;
        color: #676767;
        cursor: pointer;
    }

    .search__main-btn {
        padding: 20px 65px;
        background-color: $blue;
        border: none;
        border-radius: 6px;
        color: #fff;
        margin-left: 30px;
        cursor: pointer;
        outline-width: 0;
        transition: all .5s;
        min-height: 60px;
    }

    .search__main-btn:hover {
        border: 1px solid #dcdcdc;
        background-color: #fff;
        color: $blue;
    }
}
    
// end search

//start features

.features {
    margin: 200px 0 120px;
}

.features__inner {
    display: flex;
    justify-content: space-between;
}

.features__item {
    max-width: 363px;
    text-align: center;
    transition: all .5s;
    .features__img {
        max-width: 113px;
        min-height: 120px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 30px 0;
    }

    .features__title {
        color: #000;
        font-size: 24px;
    }

    .features__text {
        color: #555;
        padding: 25px 30px 40px 30px;
    }
}

.features__item:hover {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}

//end features

//start slider

.slider {
    padding: 140px 0 100px;
    background-color: #eff1f5;
    .main__title--slider {
        position: relative;
    }
}

.main__title {
    color: #000;
    font-size: 30px;
    background-color: #fff;
    max-width: 1140px;
    padding: 40px 80px 40px 30px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
}

.slider__item {
    margin-top: 50px;
    display: flex;
    max-width: 1140px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    .slider__img {
        max-width: 550px;
        height: 450px;
        display: block;
    }
}

.slider__content {
    background-color: #fff;
    width: 690px;
    padding: 50px 50px 25px 50px;

    .slider__content-title {
        font-size: 24px;
        font-weight: 500;
        color: #000;
    }    
}

.slider__user {
    margin: 10px 0 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    .slider__user-avatar {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slider__username {
        color: #000;
        margin-left: 7px;
        transition: color 0.5s;
    }

    .slider__username:hover {
        color: #868c96;
    }

    .slider__icon {
        height: 15px;
        width: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        margin-left: 20px;
    }

    .slider__platform {
        color: #7347c1;
        margin-left: 6px;
    }
}

.slider__text {
    color: #555;
    line-height: 30px;
    height: 150px;
    overflow: hidden;
}

.slider__tags {
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}

.slider__tag {
    color: #868c96;
    font-size: 15px;
    padding: 7px 17px;
    background-color: #f1f3f6;
    border-radius: 15px;
    transition: all 0.5s;
}

.slider__tag + .slider__tag{
    margin-left: 6px;
}

.slider__tag:hover {
    background-color: $blue;
    color: #fff;
}

.slider__info {
    margin-top: 22px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.slider__price {
    font-size: 15px;
    font-weight: 500;
    background-color: $blue;
    padding: 9px 18px;
    border-radius: 17px;
    transition: all .5s;
}

.slider__price:hover {
    background-color: #f1f3f6;
    color: #868c96;
}

.slider__numb {
    cursor: pointer;
    color: #555;
    margin-left: 5px;
}

.fa-heart {
    width: 16px;
    height: 14px;
    color: #7347c1;
    margin-left: 19px;
    cursor: pointer;
}

.slider__icon-cart {
    position: absolute;
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-left: 20px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -6px;
}

.slider__link-cart {
    position: relative;
}

.slider__cart-numb {
    position: absolute;
    color: $blue;
    margin-left: 45px;
    bottom: 35px;
}

.slick-arrow {
    position: absolute;
    top: 30px;
    font-size: 0;
    width: 8px;
    height: 14px;
    outline-width: 0;
    border: none;
    background-color: #7347c1;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 25px 35px;
}

.slick-prev {
    right: 120px;
    background-image: url(../images/icons/prev.png);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.slick-next {
    right: 60px;
    background-image: url(../images/icons/next.png);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.rating-area {
	overflow: hidden;
	width: 331px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 15px;
	padding: 0;
	cursor: pointer;
	font-size: 15px;
	line-height: 15px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}

//end slider

//start filter

.filter {
    background-color: #f6f7fb; 
    padding: 120px 0 30px;
}

.main__title--filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.filter__title {
    color: #000;
    font-size: 30px;
}

.filter__box {
    display: flex;
    align-items: center;
}

.filter__by {
    font-size: 16px;
    color: #747b86;
    margin-right: 20px;
}

.filter__menu-drop-domw {
    height: 20px;
    width: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

//end filter

//start products

.products {
    background-color: #f6f7fb;
}

.products__inner {

    .products__inner-btn {
        display: flex;
        align-items: center;
        background-color: #fff;
        max-width: 1140px;
        padding: 40px 80px 40px 30px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        height: 90px;
        margin-bottom: 50px;
    }

    .product__mix-btn {
        color: #747b86;
        font-size: 13px;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 25px;
        background-color: #f1f3f6;
        transition: all .5s;
        outline-width: 0;
    }

    .product__mix-btn:hover {
        background-color: $blue;
        color: #fff;
    }

    .product__mix-btn + .product__mix-btn {
        margin-left: 10px;
    }

    .mixitup-control-active {
        background-color: $blue;
        color: #fff;
        transition: all .3s;
    }
}

.products__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__card {
    max-width: 360px;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
    color: #000;

    .product__img {
        min-height: 230px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    
    .product__title {
        font-size: 20px;
        
        font-weight: 500;
        padding: 30px 0px 18px 30px;
    }

    .product__info {
        display: flex;
        align-items: center;
        padding: 0 0 25px 30px;
    }

    .product__info-avatar {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
    }

    .product__info-name {
        font-size: 15px;
        margin-left: 10px;
        transition: color .3s;
    }

    .product__info-name:hover {
        color: #555;
    }

    .product__info-icon {
        height: 17px;
        width: 17px;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        margin-left: 15px;
    }

    .product__info-platform {
        font-size: 15px;
        color: #7347c1;
        margin-left: 5px;
    }

    .product__text {
        margin: 0;
        padding: 0 20px 30px 30px;
        color: #555;
        line-height: 30px;
        border-bottom: 1px solid #ececec;
    }

    .product__feedback {
        position: relative;
        padding: 14px 30px 15px 30px;
        font-size: 15px;
    }

    .product__feedback-price {
        color: $blue;
        padding: 8px 17px;
        background-color: #e6f1fd;
        border-radius: 20px;
        transition: all .5s;
    }

    .product__feedback-price:hover {
        background-color: $blue;
        color: #fff;
    }

    .product__feedback-like {
        margin-left: 14px;
    }

    .product__feedback-numb {
        color: #6f7d8d;
        margin-left: 2px;
    }

    .product__feedback-rating {
        position: absolute;
        right: 100px;
        bottom: 24px;
        width: 80px;
    }

    .product__feedback-cart {
        position: absolute;
        display: block;
        width: 14px;
        height: 14px;
        right: 60px;
        top: 24px;
    }

    .product__feedback-bought {
        position: absolute;
        right: 25px;
        top: 23px;
    }
}

.products__bottom-btn {
    margin: 60px auto 120px auto ;
    border: none;
    color: #fff;
    background-color: $blue;
    padding: 20px 35px;
    border-radius: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.products__bottom-btn:hover {
    color: $blue;
    background-color: #e6f1fd;
}

//end products


  