@import "fonts";
@import "vars";
@import "general";

// start header

.header {
    background-color: #eef1f3;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }

    &__btn {
        padding: 5px 18px;
        font-size: 14px;
        line-height: 28px;
        margin-left: 396px;
        color: #fff;
    }

    &__btn:hover {
        color: #2c80ed;
        background-color: #fff;
    }
    
    &__btn:active {
        color: #d6dde6;
    }
    
    &__box {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-width: 360px;
        align-items: center;
        margin-left: 20px;
    }

    &__icons {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #7e8fa1;
        font-size: 20px;
        margin-left: 25px;

        &--cart { 
            margin-right: 35px;
        }
    }
     
    &__notification {
         position: absolute;
         height: 22px;
         width: 26px;
         color: #fff;
         border-radius: 49px;
         text-align: center;
         font-size: 14px;
         line-height: 22px;
         padding-right: 2px;
        
         &--red {
            top: -1px;
            left: 35px;
            background-color: #ff6a6c;
        }
        
        &--green{
            top: -1px;
            left: 87px;
            background-color: #62d03b;
        }
        
        &--blue {
            top: -1px;
            left: 143px;
            background-color: $blue;
        }
    } 
}

.logo {
    padding-left: 15px;
}

.header__user {
    display: flex;
}

.user__info {
    font-size: 15px;
    align-items: center;
}

.user__avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user__name {
    margin-left: 20px;
    display: block;
    font-weight: 700;
    color: #333;
    line-height: 22px;
}

.user__balance {
    margin-left: 20px;
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: $blue;
}

.header__menu {
    background-color: #fff;
}

.menu__inner {
    display: flex;
    align-items: center;
    min-height: 80px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;

    &__item {
        display: inline-block;
    }

    &__link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        transition: all .3s;
        color: #333;
        border-bottom: 2px solid transparent;    
    }

    &__item + &__item {
        margin-left: 30px;
    }
    &__link:hover {
        color: $blue;
        border-bottom: 2px solid $blue;
    }

    &__link:active {
        color: #fff;
        border-bottom: 2px solid #fff;
    }
}

.header__search-form {
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    min-width: 350px;
    position: relative;
}

.header__search-input {
    display: block;
    width: 100%;
    border-radius: 25px;
    height: 46px;
    border: 1px solid #dce1e7;
    font-size: 15px;
    padding: 13px 100px 13px 25px;

    &::placeholder {
        color: #898f96;
    }
}

.header__search-btn {
    position: absolute;
    border: none;
    padding: 15px 27px;
    height: 46px;
    right: 0;
    top: 0;
    outline-width: 0;
    transition: background-color 0.5s;

    &:hover {
        background-color: #554cc3;
    }

    &:active {
        background-color: #bbb;
    }
    
}

.search--icon {
    color: #fff;
}

// end header

// start search

.intro {
    background-image: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
    max-height: 725px;
    color: #fff;

    &__inner {
        padding: 170px 0 30px;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
    }
    
    &__title {
        font-weight: 400;
        margin-bottom: 10px;
    }

    &__title-allocated {
        display: block;
        font-weight: 700;
    }

    &__text {
        font-size: 20px;
        font-weight: 500;
        line-height: 50px;
    }

    &__btns {
        padding-left: 15px;
        text-align: center;
    }
    
    &__btn {
        margin: 6px 18px 170px;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 16px 30px;
        background: transparent;
        transition: all .3s;
        color: #fff;
    
        &:hover {
            color: $blue;
            background-color: #fff;
        }
    
        &:active {
            color: #d6dde6;
        }
    }
}

.btn--white {
    background-color: #fff;
    color: $blue;
    border-radius: 30px;
    padding: 16px 30px;
    transition: all .3s;
    &:hover {
        background: transparent;
        color: #fff;
    }
}

.search {

    &__inner {
        position: relative;
        max-width: 1140px;
        min-height: 135px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        margin-bottom: 100px;
    
        &::before,
        &::after {
        content: "";
        position: absolute;
        top: -15px;
        right: 0;
        left: 0;
        margin: 0 auto;
        max-width: 1110px;
        min-height: 42px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        }
    
        &__form {
            color: #676767;
            position: relative; 
        }
    }

    &__input {
        margin: 40px 0 40px 40px;
        display: inline-block;
        padding: 20px;
        width: 55%;
        border: 1px solid #dcdcdc;
        border-radius: 6px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        &::placeholder {
            color: #676767;
        }
    }
    
    &__select {
        position: absolute;
        top: 40px;
        right: 312px;
        max-width: 195px;
        border: 1px solid #dcdcdc;
        padding: 18px;
        border-radius: 6px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        font-size: 16px;
        color: #676767;
        cursor: pointer;
    }
    
    &__main-btn {
        padding: 19px 65px;
        border: none;
        border-radius: 6px;
        color: #fff;
        margin-left: 216px;
        transition: all .5s;
    
        &:hover {
            background-color: #dcdcdc;
            color: $blue;
        }
    
        &:active {
            background-color: #fff;
            color: #555;
        }
    }
}

.search__inner::after {
    top: -30px;
    max-width: 1080px;
}

// end search

//start features

.features {
    margin: 200px 0 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 363px;
        text-align: center;
        transition: all .5s;

        &:hover {
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }

    &__img {
        max-width: 118px;
        min-height: 120px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 30px 120px;
    }

    &__title {
        font-weight: 700;
        color: #000;
        font-size: 24px;
    }

    &__text {
        color: #555;
        padding: 5px 30px 30px 30px;
        line-height: 30px;
    }
}

//end features
  
//start slider

.weekly {
    padding: 115px 0 100px;
    background-color: $bg;

    &__item {
        position: relative;
        margin-top: 50px;
        display: flex;
        max-width: 1140px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
        height: 450px;
    }

    &__img {
        max-width: 560px;
        height: 447px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .weekly__item--hover {
        background-image: linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
        width: 560px;
        height: 450px;
        text-align: center;
        justify-content: center;
        padding: 50px;
    }

    &__content {
        background-color: #fff;
        max-width: 690px;
        padding: 15px 50px 15px 50px;
    }

    &__content-title {
        margin: 28px 0 14px;
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: #000;
    }  

    &__user--avatar {
        display: inline-block;
        margin-top: 5px;
        height: 30px;
        width: 30px;
    }

    &__user--name {
        color: #000;
        transition: color 0.5s;
        &:hover {
            color: #868c96;
        }

        &:active {
            color: #fff;
        }
    }

    &__icon {
        height: 15px;
        width: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        margin-left: 15px;
    }

    &__platform {
        color: $pink;
        margin-left: 6px;
    }

    &__text {
        padding-top: 5px;
        color: #555;
        line-height: 30px;
        height: 140px;
        overflow: hidden;
    }
    
    &__tags {
        padding-bottom: 45px;
        border-bottom: 1px solid #ececec;
    }
    
    &__tag {
        color: #868c96;
        font-size: 15px;
        padding: 7px 13px;
        background-color: #f1f3f6;
        border-radius: 15px;
        transition: all 0.5s;

        &:hover {
            background-color: $blue;
            color: #fff;
        }

        &:active {
            background-color: #fff;
        }
        
    }
    
    &__tag + &__tag{
        margin-left: 6px;
    }

    &__info {
        margin-top: 22px;
    }

    &--heart {
        margin-left: 25px;
    }

    &__numb {
        margin-left: 10px;
    }
    
    &__icon--cart {
        position: absolute;
        margin-left: 20px;
        cursor: pointer;
        top: 0;
        color: $blue;
    }
    
    &__link--cart {
        position: relative;
    }
    
    &__cart--numb {
        color: $blue;
        margin-left: 45px;
    }
    
    &__star {
      position: relative;
    }

    &__rate--star {
        position: absolute;
        top: -6px;
        left: 140px;
    }
}



.info {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.price {
    font-size: 15px;
    font-weight: 500;
    transition: all .5s;
    border-radius: 17px;
    background-color: $blue;
    padding: 8px 19px;
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: #f1f3f6;
        color: #868c96;
    }
    
    &:active {
        background-color: #fff;
    }
}

.heart {
    width: 16px;
    height: 14px;
    color: $pink;
}

.numb {
    font-weight: 500;
    cursor: pointer;
    color: #555;
    border: none;
    background-color: transparent;
}

.link-cart {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.title {
    color: #000;
    font-size: 30px;
    background-color: #fff;
    max-width: 1140px;
    padding: 39px 80px 39px 35px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
}

.title--slider {
    position: relative;
}

.weekly__user--info {
    padding-top: 10px;
    float: right;
    display: flex;
}

.slick-arrow {
    position: absolute;
    top: 35px;
    font-size: 0;
    width: 8px;
    height: 14px;
    outline-width: 0;
    border: none;
    background-color: $pink;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 23px 33px;
}

.slick-prev {
    right: 66px;
    background-image: url(../images/icons/prev.png);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.slick-next {
    right: 19px;
    background-image: url(../images/icons/next.png);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

//end slider

//start filter

.filter {
    background-color: #f6f7fb; 
    padding: 140px 0 30px;

    &__title {
        color: #000;
        font-size: 30px;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__by {
        font-size: 16px;
        color: $pale-gray;
        margin-right: 20px;
    }

    &__menu-drop {
        position: relative;
        display: block;
        height: 20px;
        width: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

}          

.main__title--filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

//end filter

// start filter-dropdown

.drop-down {
    display: none;
    position: absolute;
    right: -20px;
    top: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 175px;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-radius: 3px;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: -20px; 
        right: 12px; 
        border: 10px solid transparent;
        border-bottom: 20px solid #fff;
        transition-duration: 1s;
    }

    &:first-child {
        padding-top: 13px;
    }
    
    &:last-child {
        padding-bottom: 30px;
    }

    &__item{
        height: 28px;
    }

    &__link {
        color: $pale-gray;
        font-size: 15px;
        text-transform: none;
        padding: 0px 10px 0 31px;
        transition: color .3s;
        &:hover {
            color: $blue;
        }
    }
}

//end filter-dropdown

//start products

.products {
    background-color: #f6f7fb;

    &__inner-btn {
        display: flex;
        align-items: center;
        background-color: #fff;
        max-width: 1140px;
        padding: 40px 80px 40px 30px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        height: 90px;
        margin-bottom: 50px;
    }

    &__mix-btn {
        color: $pale-gray;
        font-size: 13px;
        border: none;
        padding: 9px 20px;
        background-color: #f1f3f6;
        transition: all .5s;

        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }

    &__mix-btn + &__mix-btn {
        margin-left: 10px;
    }

    &__box {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.product-card {
    position: relative;
    max-width: 360px;
    max-height: 530px;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
    color: #000;

    &__img {
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    
    &__title {
        font-size: 20px;
        font-weight: 500;
        padding: 25px 0px 18px 35px;
        color: #000;
    }
    
    &__info {
        display: flex;
        align-items: center;
        padding: 0 0 13px 30px;
    }

    &__avatar {
        margin-left:  7px;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
    }
    
    &__name {
        font-size: 15px;
        margin-left: 10px;
        transition: color .3s;

        &:hover {
            color: #555;
        }
    }
    
    &__icon {
        height: 17px;
        width: 17px;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        margin-left: 15px;
    }
    
    &__platform {
        font-size: 15px;
        color: $pink;
        margin-left: 5px;
    }
    
    &__text {
        margin: 0;
        padding: 5px 20px 33px 35px;
        color: #555;
        line-height: 30px;
        border-bottom: 1px solid #ececec;
    }
    
    &__feedback {
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px 30px 15px 30px;
        font-size: 15px;
    }
    
    &__price {
        color: $blue;
        padding: 8px 17px;
        background-color: #e6f1fd;
        border-radius: 20px;
        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }

    &--heart {
        margin-left: 20px;
    }
    
    &__numb {
        color: #6f7d8d;
        margin-left: 2px;
    }

    &__rate--star {
        position: absolute;
        left: 160px;
        top: 20px;
    }
    
    &__cart {
        position: absolute;
        display: block;
        width: 14px;
        height: 14px;
        right: 62px;
        top: 21px;
    }
    
    &__bought {
        position: absolute;
        right: 20px;
        top: 19px;
    }

    &__item-hover {
        position: absolute;
        background-image: url(../images/product-hover.jpg);
        top: 0;
        left: 0;
        width: 361px;
        height: 230px;  
        opacity: 0;
        display: flex;
        align-items: center;
        padding-left: 40px;
        transition: all .3s;
        &:hover {
            opacity: 1;
        }
    }
    
    &__btn-hover {
        color: #fff;
        background-color: transparent;
        font-size: 14px;
        border: 1px solid #fff;
        padding: 13px 28px;
        border-radius: 30px;
        margin: 0px 10px;
        transition: all .3s;
        
        &:hover {
            background-color: #fff;
            color: $blue;        
        }
    }
}

.products__btn-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}

.btn--blue {
    border: none;
    color: #fff;
    background-color: $blue;
    padding: 20px 31px;
    border-radius: 30px;

    &:hover {
        color: $blue;
        background-color: #e6f1fd;
    }

    &:active {
        color: #e6f1fd;
        background-color: #fff;
    }
}


.mixitup-control-active {
    background-color: $blue;
    color: #fff;
    transition: all .3s;
}

//end products

//start followers

.followers {
    background-color: $bg;
    padding: 120px 0 96px;
    &--title {
        margin-bottom: 50px;
    }

    &__items { 
        display: flex;
        justify-content: space-between;
    }
}

//end followers


//start overlay

.overlay {
    background-color: $bg-dark;
    padding: 94px 0px 95px;
    margin-bottom: 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-align: center;
    }

    &--icons {
        display: block;
        font-size: 48px;
        margin-bottom: 38px;
    }

    &--yellow {
        color: #feb71d;
    }

    &--blue {
        color: #58c9e9;
    }

    &--green {
        color: #77de51;
    }

    &--red {
        color: #ff6a6d;
    }

    &__numb {
        font-size: 36px;
        line-height: 40px;
    }

    &__text {
        margin-top: 12px;
        display: block;
        font-size: 18px;
        color: #fff;
    }
}

//end overlay

//start choose

.choose {
    padding-bottom: 115px;
    &__inner {
        text-align: center;
    }

    &__title {  
        font-size: 36px;
        line-height: 28px;
        color: #000;
        margin-bottom: 15px;
    }

    &__title--blue {
        color: $blue;
    }

    &__text {
        display: inline-block;
        max-width: 690px;
        margin-bottom: 55px;
        line-height: 30px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
      
    &__numb {
        position: absolute;
        top: 10px;
        left: 18px;
        font-size: 48px;
        color: rgba(92, 135, 248, 0.2);
        font-weight: 300;
    }   

}

.choose-item {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding-top: 50px;
    margin-bottom: 30px;

    &__icon {
        font-size: 60px;
    }

    &__title {
        margin-top: 45px;
    }

    &__text {
        padding-bottom: 38px;
    }

    &--license {
        color: $blue;
    }

    &--magic {
        color: #7f4ec2;
    }

    &--lock {
        color: #77de51;
    }

    &--bars {
        color: #feb71d;
    }

    &--leaf {
        color: #58c9e9;
    }

    &--phone {
        color: #ff6a6d;
    }

}

//end choose

//start trade 

.trade {
    margin-bottom: 120px;
    &__inner {
        display: flex;
    }

    &__bg {
        position: relative;
        max-width: 963px;
        width: 100%;
        height: 561px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    &__content {
        position: absolute;
        max-width: 600px;
        top: 100px;
        left: 170px;
        text-align: center;
        color: #fff;
    }

    &__icon {
        display: inline-block;
        width: 120px;
        height: 101px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 48px;
    }

    &--buy {
        width: 100px;
        height: 100px;
    }

    &__title {
        font-size: 36px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &__text {
        line-height: 30px;
        margin-bottom: 45px;
    }

    &__btn {
        border: 1px solid transparent;
        &:hover {
            border: 1px solid #fff;
        }
    }
}

//end trade

//start feedback

.feedback {

    &__inner {
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        .slick-list {
            margin-right: 12px;
        }
    }


    &__item {
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
        max-width: 555px;
        padding: 50px 40px 25px 40px;
        border-left: 2px solid $blue;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-bottom: 60px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__avatar { 
        width: 80px;
        height: 80px;
    }

    &__info {
        margin-top: 12px;
        line-height: 40px;
        text-align: left;
    }

    &__products {
        margin-left: 20px;
    }

    &--bubble {
        color: #e8e8e8;
        font-size: 60px;
        margin-bottom: 25px;
    }

    &__text {
        margin-top: 25px;
        line-height: 30px;
    }

    &__btns {
        text-align: center;
    }

    &__btn {
        margin-bottom: 120px;
    }

}

//end feedback

//start news

.news {
    background-color: $bg;
    padding: 155px 0 115px;
    &__inner {
        text-align: center;
    }

    &__info {
        padding: 20px 28px;
        font-size: 15px;
        display: flex;
        align-items: center;
        color: #999;
    }

    &__title {
        font-weight: 700;
        padding-right: 7px;
        overflow: hidden;
    }

    &--clock {
        color: $blue;
        margin-right: 20px;
    }

    &__time {
        border-right: 1px solid #ececec;
        padding-right: 30px;
    }

    &__btns {
        margin-left: 17px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: #7e7e7e;
    }

    &__comments {
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 2px;
    }

    &__numb {
        margin-left: 25px;
    }

}

//end news

  