@import "fonts";
@import "vars";
@import "general";
@import "media";

// start header

.header {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    
}

.header__top-btn {
    padding: 5px;
    width: 140px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    background-color: $blue;
    transition: all .3s;
    margin-left: 420px;
    margin-right: auto;
}

.header__top-btn:hover {
    color: #2c80ed;
    background-color: #fff;
}

.header__top-icon {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.header__top-box {
    display: flex;
    justify-content: space-between;
    min-width: 345px;
    align-items: center;
}

.header__top-alarm {
    width: 17px;
    height: 20px;
}

.header__top-envelope {
    width: 21px;
    height: 14px;
}

.header__top-cart {
    width: 18px;
    height: 20px;
}

.header__top-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top-name {
    display: block;
    font-weight: 500;
    color: #333;
    line-height: 22px;
}

.header__top-balance {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: $blue;
}

.header__menu {
    background-color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    min-height: 80px;
    
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    .menu__item {
        display: inline-block;
        .menu__link {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 15px;
            transition: all .3s;
            color: #333;
        }
    }
    .menu__item + .menu__item {
        margin-left: 33px;
    }
    .menu__link:hover {
        color: $blue;
        border-bottom: 1px solid $blue;
    }
}

.header__search-form {
    margin-left: 300px;
    margin-right: auto;
    text-align: center;
    max-width: 360px;
    position: relative;
    .header__search-input {
        display: block;
        width: 100%;
        border-radius: 25px;
        height: 46px;
        border: 1px solid #dce1e7;
        font-size: 15px;
        padding-left: 25px;
        padding-right: 82px;
        outline-width: 0px;
        &::placeholder {
            color: #898f96;
        }
    }
    .header__search-btn {
        position: absolute;
        background-color: $blue;
        border: none;
        border-radius: 25px;
        width: 71px;
        height: 46px;
        right: 0;
        top: 0;
        cursor: pointer;
        outline-width: 0;
        transition: background-color 0.3s;
    }
    .header__search-btn:hover {
        background-color: #554cc3;
    }
}

// end header

// start search

.search__inner {
    background-image: -moz-linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
    opacity: 0.8;
    padding: 185px 0 140px;
}

  
// end search